extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      center You are currently logged in as #{user.username}
      .button
        a(href="/logout") Logout
      .container
        .profile
          include profile.pug
        .company
          include company.pug
        .listing
          include listing.pug
  .footer
    center
      input(type="text", name="search", id="search" placeholder="search")
      a(href='/search')
        button(type="submit", action="/search", method="post") search
      a(href='/add')
        button(action="/add", method="get") add

