body {
    padding: 50px;
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
    font-size: 35px;
}

.error-msg {
  color: red;
}

h1 {
    color: #00B7FF;
}

.profile {
    font-size: 20px;
    width: 300px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    float: left;
    margin: 10px;
}

.company {
    font-size: 20px;
    width: 300px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    float: left;
    margin: 10px;
}

.listing {
    font-size: 20px;
    width: 300px;
    background-color: rgb(220, 220, 220);
    padding: 10px;
    float: left;
    margin: 10px;
}

.button {
    font-size: 14px;
    text-align: right;
    float: right;
}

.k-invalid-msg {
    font-size: 12px;
}

.footer {
    width: 100%;
    padding: 3%;
    font-size: 16px;
    line-height: 24px;
    background-color: rgb(220, 220, 220);
    position: absolute;
    bottom: 0;
    left: 0;
}